<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('sysAuthor')}">your singal blog.</a>
        <span class="ft-warn">&heartsuit;</span>&nbsp;site blog
        <a href="https://beian.miit.gov.cn/" target="_blank">桂ICP备2023002742号-1</a>
        Powered by <a href="#" target="_blank" th:text="${configurations.get('sysCopyRight')}">2023 南街</a>
    </div>
</footer>
</html>
